*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, blue, grey);
    align-items: center;
    min-height: 100vh;

}
.ggg{
    display: flex;
    background: #fff;
    padding: 30px 40px;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;

}
.ggg h2{
    color: blue;
    font-size: 45px;
}
.ggg .logos{
    margin-left: 15px;
}

.logos img{
    width: 40px;
    height: 40px;
    margin: 0 7px;
    opacity: .2;
    transition: 2.5s ease;
}
.OS{
    background: #fff;
    padding: 30px 40px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    width: 530px;
    margin: 0 auto;
    margin-top: 30px;

}
.OS h2{
    color: blue;
    font-size: 30px;
}
.OSLogo img{
    width: 70px;
    height: 50px;
    margin: 0 7px;
    opacity: .3;
    transition: opacity .5s ease;
    justify-content: space-around;
    margin-left: 30px;
}
.btn1 button{
    padding: 20px;
    background-color: rgb(85, 138, 185);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 500px;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;    
}
.btn1 button:hover{
    opacity: .8;
}
.btn1 #OS{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 600px;
    margin-top: 20px;
}